.box{
    border: 1px solid black;
    padding: 119px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box1{
    background-color: #FF0000;  
}

.box2{
    background-color: #008000;  
}

.box3{
    background-color: #FF4500;  
}

.box4{
    background-color: #800080;  
}

.box5{
    background-color: #FF1493;  
}

.box6{
    background-color: #0000FF;  
}

.box7{
    background-color: darkred;  
}

.box8{
    background-color: violet;  
}

.box9{
    background-color: #4B0082;  
}

.box10{
    background-color: #FFD700;  
}

.box11{
    background-color: #4682B4;  
}

.box12{
    background-color: #00FFFF;  
}
